# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2025-03-01-preview
AZURE_OPENAI_IIA_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_OPENAI_GENERAL_DEPLOYMENT_NAME=gpt-4.1
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-small
CHROMA_DB_DIRECTORY=
